 <div ng-controller="addExpense">
 	<div class="content">
 		<div class="page-header">
 			<div class="icon">
 				<span class="ico-layout-7"></span>
 			</div>
 			<h1>Add New Expense <small>METRO STYLE ADMIN PANEL</small></h1>
 		</div>

 		<div class="row-fluid">
 			<div class="span12">
 				<div>
                        <form name="expenseForm" ng-submit="addExpense()">
                        
                            <div class="row-form">
                                <div class="span3">Expense By:</div>
                                <div class="span5">
                                    <select ng-model="form.expenseBy" name="s_example">
                                        <option ng-repeat="t in jsonEmployee" value="{{t.objectId}}">{{t.name}}</option>
                                    </select>
                                </div>
                            </div>    

                            <div class="row-form">
                                <div class="span3">Approved By:</div>
                                <div class="span5">
                                    <select ng-model="form.acceptBy" name="s_example">
                                        <option ng-repeat="t in jsonEmployee" value="{{t.objectId}}">{{t.name}} </option>
                                    </select>
                                </div>
                            </div> 

                            <div class="row-form">
                                <div class="span3">Category:</div>
                                <div class="span5">
                                    <select ng-model="form.category" name="s_example">
                                        <option ng-repeat="t in jsonCategories" value="{{t.objectId}}">{{t.name}} </option>
                                    </select>
                                </div>
                            </div>

                            <div class="row-form">
                                <div class="span3">Status:</div>
                                <div class="span5">
                                    <select ng-model="form.status" name="s_example">
                                        <option ng-repeat="t in statusArray" value="{{t}}">{{t}} </option>
                                    </select>
                                </div>
                            </div>        

                            <div class="row-form">
                            <div class="span3">Date:</div>
                                <div class="span5">                                                            
                                    <input ng-model="date" type="date" class="datepicker"/>
                                </div>
                            </div>

                            <div class="row-form">
                                    <div class="span3">Title:</div>
                                    <div class="span5"><input ng-model="form.title" placeholder="Title" /></div>
                            </div> 

                            <div class="row-form">
                                    <div class="span3">Price:</div>
                                    <div class="span5"><input ng-model="form.total" type="number" placeholder="money expensed VND"/></div>
                            </div>

                            <div class="row-form">
                                    <div class="span3">Notes:</div>
                                    <div class="span5"><textarea ng-model="form.description" placeholder="Notes somethings here"></textarea></div>
                            </div> 

                            <div class="span8">
                            <button class="btn btn-large btn-block btn-primary" action="submit">Save to Server</button>   
                            </div>          
                        </form>
                    </div>

                </div>
 				

 			</div>


 		</div>
 	</div>  
 